*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    background-image: url("/4189851.jpg");
    background-size: cover;
}
header{
    height: 100px;
    width: 100%;
    
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
main{
    height: calc(100vh-100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
   margin-top: 100px;
   
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    gap: 25px;

    height: 400px;
    width: 600px;
    border-radius: 50px;
}



.box{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    height: 25px;
}
.box:focus {
    outline: none;
}
.btn{
    border-radius: 10px;
    height: 25px;
    width: 75px;
    border-color: white;
    box-shadow: 0 0 0 2px; 
}


